<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="COA_ConnStr" connectionString="Server=172.16.21.8;Database=dailyreport;Trusted_Connection=True;" />
  </connectionStrings>
  <appSettings>
    <add key="URL_RicePrice" value="http://210.69.25.143/report/city.php" />
    <add key="URL_FarmTrans" value="http://m.coa.gov.tw/OpenData/FarmTransData.aspx" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>