<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="COA_ConnStr" connectionString="Server=172.16.21.8;Database=dailyreport;Trusted_Connection=True;" />
  </connectionStrings>
  <appSettings>
    <add key="URL_HogPrice" value="http://data.coa.gov.tw/Service/OpenData/FromM/AnimalTransData.aspx" />
    <add key="URL_MuttonPrice" value="http://data.coa.gov.tw/Service/OpenData/FromM/SheepTransData.aspx" />
    <add key="URL_DuckPrice" value="http://data.coa.gov.tw/Service/OpenData/FromM/PoultryTransGooseDuckData.aspx" />
    <add key="URL_NativeChickenPrice" value="http://data.coa.gov.tw/Service/OpenData/FromM/PoultryTransLocalRedChickenData.aspx" />
    <add key="URL_BoiledChickenPrice" value="http://data.coa.gov.tw/Service/OpenData/FromM/PoultryTransBoiledChickenData.aspx" />
    <add key="URL_BeefPrice" value="http://www.naif.org.tw/infoBeefCattleDaily.aspx" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>